<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script src="shopApp/shopApp.js"></script>
        <script src="shopApp/shopCtrl.js"></script>
    </head>
    <body ng-app="shopApp" ng-controller="shopCtrl" ng-init="initPage()">
        <div class="title is-1">
            example of a title
        </div>
        <div class="box" ng-repeat="x in items">
            Product: {{x.name}}
            Size: {{x.weight}}
            <a href="{{x.charity}}">DONATE:{{x.rate*x.weight}}</a>
        </div>
        <div class="columns">
            <div class="column" ng-repeat="y in contributors">
                    Name: {{y.name}}
                    Major: {{y.major}}
            </div>
        </div>
        <button class="is-primary" ng-click="sumAges(contributors,sum)">
            Age: {{contributors[1].age+contributors[2].age}}
            SUM: {{sum}}
        </button>
        <div>
            {{items}}
            {{testVar}}
        </div>
    </body>
</html>